bin/
obj/
*.user
*.suo
*.cache
*.docstates
_ReSharper*/
*.resharper
Thumbs.db
*.DS_Store
*.orig
*.log
*.vspscc
*.vssscc
.builds
.vs/
*.nupkg
packages/
*.ide/
.vscode/
.idea/
TestResults/
*.trx
*.coverage
*.coveragexml
*.DotSettings.user
